<link href="#springUrl('/static/plugins/bootstrap/3.3.2/css/bootstrap.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/assets/stylesheets/bootstrap.fix.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/plugins/jquery-ui/jquery-ui.min.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/plugins/font-awesome/4.2.0/css/font-awesome.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/plugins/fullcalendar/fullcalendar.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/plugins/select2/select2.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/plugins/pace/1.0.2/themes/red/pace-theme-minimal.css')" rel="stylesheet" type='text/css'/>
<link href="#springUrl('/static/assets/stylesheets/junion.css')" rel="stylesheet" type='text/css'/>